- name: Проверка на переданные аргументы создания символической ссылки
  assert:
    that:
      - item.src is defined
      - item.dest is defined
    fail_msg: "Необходимо передать аргументы для создания симв. ссылки"
    success_msg: "Создаём ссылку из {{ item.src }} в {{ item.dest }}"
  loop: "{{ links }}"


- name: Создание символической ссылки
  file: 
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop: "{{ links }}"