---
- name: Проверка на переданные аргументы создания символической ссылки
  ansible.builtin.assert:
    that:
      - item.src is defined
      - item.dest is defined
    fail_msg: "Необходимо передать аргументы для создания симв. ссылки"
    success_msg: "Создаём ссылку из {{ item.src }} в {{ item.dest }}"
  loop: "{{ create_ln_s_links }}"

- name: Создание символической ссылки
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop: "{{ create_ln_s_links }}"
