---
- name: Проверка есть ли
  ansible.builtin.stat:
    path: /usr/local/bin/gitlab-runner
  register: config_gitlab_runner_gitlab_runner

- name: Установка раннера
  ansible.builtin.get_url:
    url: https://s3.dualstack.us-east-1.amazonaws.com/gitlab-runner-downloads/latest/binaries/gitlab-runner-linux-amd64
    dest: /usr/local/bin/gitlab-runner
    mode: "0755"
  when: not config_gitlab_runner_gitlab_runner.stat.exists

- name: Создание группы
  ansible.builtin.group:
    name: gitlab-runner
    system: true
    state: present

- name: Создаем нужного пользователя
  ansible.builtin.user:
    name: gitlab-runner
    create_home: true
    system: false
    group: gitlab-runner
    comment: "GitLab Runner"

- name: Собираем информацию о запущенных сервисах
  ansible.builtin.service_facts:

- name: Установка как системную службу
  ansible.builtin.command: |
    gitlab-runner install
      --user=gitlab-runner
      --working-directory=/home/gitlab-runner
  when: "'gitlab-runner.service' not in ansible_facts.services"
  changed_when: false

- name: Зарегистрировать раннер
  ansible.builtin.command: |
    gitlab-runner register \
      --non-interactive \
      --url "https://gitlab.com/" \
      --token "{{ config_gitlab_runner_token_env }}" \
      --executor "{{ config_gitlab_runner_executor_env }}" \
      --docker-image "alpine:latest"
  when: "'gitlab-runner.service' not in ansible_facts.services and config_gitlab_runner_token_env is defined"
  changed_when: false

- name: Запуск
  ansible.builtin.systemd:
    name: gitlab-runner
    state: started
    enabled: true
