---
- name: Проверка на существование скаченного бинарника helm
  ansible.builtin.stat:
    path: /tmp/get_helm.sh
  register: install_eso_kuber_helm_binary_file

- name: Установить Python-зависимости для kubernetes.core
  ansible.builtin.pip:
    name:
      - kubernetes>=24.2.0
      - PyYAML>=3.11
      - jsonpatch
    state: present
    executable: pip3

- name: Скачивание helm
  ansible.builtin.uri:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4
    dest: /tmp/get_helm.sh
    mode: "0777"
  when: not install_eso_kuber_helm_binary_file.stat.exists

- name: Установка helm
  ansible.builtin.command: bash /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm
  changed_when: false

- name: Сохранить автодополнение helm в файл
  ansible.builtin.shell: helm completion bash > /etc/bash_completion.d/helm
  args:
    creates: "/etc/bash_completion.d/helm"
  changed_when: false

- name: Добавление Helm-репозиторий external-secrets
  ansible.builtin.command: helm repo add external-secrets https://charts.external-secrets.io
  args:
    creates: "{{ ansible_env.HOME }}/.cache/helm/repository/external-secrets-index.yaml.j2"
  changed_when: false

- name: Установка чарта external-secrets из репозитория
  ansible.builtin.command: |
    helm upgrade --install external-secrets \
     external-secrets/external-secrets \
    -n external-secrets \
    --create-namespace \
    --set installCRDs=true
  changed_when: false

- name: Создать ServiceAccount для ESO
  kubernetes.core.k8s:
    template: "eso_sa.yaml.j2"
    namespace: external-secrets

- name: Создать ClusterRole для tokenreview
  kubernetes.core.k8s:
    template: "eso_cluster_role.yaml.j2"

- name: Создать ClusterRoleBinding
  kubernetes.core.k8s:
    template: "eso_cluster_role_binding.yaml.j2"

- name: Создать ClusterSecretStore
  kubernetes.core.k8s:
    template: "external_secret_store.yaml.j2"

- name: Создать ExternalSecret
  kubernetes.core.k8s:
    template: "eso_ext_secret.yaml.j2"
    namespace: default
