# Для работа необходиме переменная -e k3s_container=<Номер контейнера k3s>

- name: Установка k3s в систему
  hosts: all

  vars:
    ufw_rules: 
      - { port: '6443', proto: 'tcp', comment: 'API server' }
      - { port: '8472', proto: 'udp', comment: 'Flannel VXLAN (если используешь фланнел)' }
      - { port: '10250', proto: 'tcp', comment: 'Kubelet' }
      - { port: '30000:32767', proto: 'tcp', comment: 'NodePort сервисы' }
    kube_config_ln:
      - src:  /etc/rancher/k3s/k3s.yaml
        dest: ~/.kube/config
    mount_ln: 
      - src:  /dev/console
        dest: /dev/kmsg

  roles:
    - setup_default_packages
    - role: create_ln_s
      vars: 
        links: "{{ mount_ln }}"  

  pre_tasks:
    - name: Проверяем, что переменная контейнера k3s передана
      assert:
        that:
          - k3s_container is defined
        fail_msg: "Пожалуйста укажите переменную текущего хоста k3s"

    - name: Проверка что контейнер готов к установке
      shell: |
        grep -q "{{ item }}" /etc/pve/lxc/{{ k3s_container }}.conf    
      delegate_to: main_host_proxmox
      loop: "{{ required_config_for_run_k3s_in_host }}"
      ignore_errors: yes
      check_mode: false
      register: status_host_availability

    - name: Проверяем, что все настройки найдены
      assert:
        that:
          - item.rc == 0
        fail_msg: |
          "Требуемая настройка {{ item.item }} отсутствует в /etc/pve/lxc/{{ k3s_container }}.conf на хосте {{ hostvars['main_host_proxmox']['ansible_host'] }}"
          "Добавьте в /etc/pve/lxc/{{ k3s_container   }}.conf :"
            lxc.apparmor.profile: unconfined 
            lxc.cgroup.devices.allow: a 
            lxc.cap.drop: 
            lxc.mount.auto: proc:rw sys:rw
          После этого желательно перезагрузите {{ k3s_container }} контейнер
      loop: "{{ status_host_availability.results }}"
  
  post_tasks:
    - name: Добавляем создание ссылки /dev/kmsg на /dev/console при старте контейнера 
      copy: 
        content: "L /dev/kmsg - - - - /dev/console"
        dest: /etc/tmpfiles.d/kmsg.conf
        mode: '0600'
        owner: root
        group: root
      
    - name: Разрешить все подключения, и включить UFW
      ufw:
        state: enabled
        policy: allow

    - name: Разрешить порты для k3s/Kubernetes
      ufw:
        rule: allow
        port: "{{ item.port }}"
        proto: "{{ item.proto }}"
        comment: "{{ item.comment }}"
      loop: "{{ ufw_rules }}"

    - name: Перезагружаем UFW
      ufw:
        state: reloaded

    - name: Скачиваем k3s скрипт для установки
      get_url: 
        url: https://get.k3s.io
        dest: /tmp/install-k3s.sh
        mode: '0700'

    - name: Устанавливаем k3s из скрипта установки
      command: sh /tmp/install-k3s.sh

    - name: Убедиться, что служба k3s активна
      systemd_service:
        name: k3s
        state: started
      register: k3s_service
      until: k3s_service.status.ActiveState == "active"
      retries: 6
      delay: 10

    - name: Создания катало .kube
      file:
        path: ~/.kube
        state: directory

    - name: Установка нужных символических ссылок
      import_role:
        name: create_ln_s
      vars:
        links: "{{ kube_config_ln }}"   

    - name: Создать директорию для bash-completion
      file:
        path: "{{ ansible_env.HOME }}/.local/share/bash-completion/completions"
        state: directory
        mode: '0755'
    
    - name: Сохранить автодополнение kubectl в файл
      shell: kubectl completion bash > "{{ ansible_env.HOME }}/.local/share/bash-completion/completions/kubectl"
      args:
        creates: "{{ ansible_env.HOME }}/.local/share/bash-completion/completions/kubectl"
      when: ansible_env.HOME is defined